$menu-width : 200px;


.menu-container {
    .side-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: $menu-width;
        background-color: whitesmoke;
        z-index: 50;

        transition: transform 0.5s;
        transform: translate3d(-$menu-width, 0, 0);
    }

    .menu-grip {
	    background-color: transparent;
	    position: fixed;
	    width: 20px;
	    height: 100%;
	    z-index: 51;
	    top: 0;
	    right: -20px;
	}

    .menu-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 49;
        visibility: hidden;

        background-color: rgba(0,0,0,0.2);
        opacity: 0;
        transition: opacity 0.5s;
    }

    &.open {
        .side-menu {
            transform: translate3d(0, 0, 0);
        }

        .menu-overlay{
            visibility: visible;
            opacity: 1;
        }
    }
}