@import "home";
@import "menu";

a.menu-entry {
  display: block;
  padding: 5% 2%;
}

.page {
	display: none;

	&.current{
		display: block;
	}
}

.content-container{
    padding-left: 20px;
}


.navBar-content{
    height: 5%;
    position: fixed;
    width: 100%;

    .left-button{
        float: left;
    }

    .right-button{
        float: right;
    }

    .title{
        position: absolute;
        width: 100%;
        text-align: center;
    }
}

.page-container{
    position: absolute;
    top: 5%;
}